.footer
  .footer__container
    a.footer__item.scroll-btn.scroll-btn--up(href="#")
      svg.scroll-icon
        use(xlink:href="../assets/img/sprite.svg#top")
    p.footer__item.footer__text
      | Перед вами сервис, который поможетвам организовать свои
      | фотографии в альбомы и поделиться ими со всем миром!
    p.footer__item.footer__text
      | 2016 | Создано командой профессионалов на продвинутом
      | курсе по веб-разработке от LoftSchool
